<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web responsiva</title>
    <link rel="stylesheet" href="css/tablaestilos.css">
</head>
<body>
    <h1>Autores de música clasica</h1>
    <div id="contenedor">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Editar / Borrar</th>
                </tr>
            </thead>
            <tbody>
                <%
                usuariosCorrectos.forEach(usuario => {
                %>
                <tr>
                    <td><%= usuario.idusuario %></td>
                    <td><%= usuario.nombre %></td>

                    <td><%= usuario.correo %></td>
                    <td><%= usuario.celular %></td>
                    <td>
                        <a href="/editarUsuario/<%= usuario.idusuario %>">Editar</a>
                        <a href="/borrarUsuario/<%= usuario.idusuario %>">Borrar</a>
                    </td>
                </tr>
                <%
                });
                %>
            </tbody>
        </table>
    </div>
</body>
</html>